.header {
  padding-top: 10px;
  padding-bottom: 70px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
svg {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.shopping-cart {
  position: relative;
}
.shopping-cart__num {
  position: absolute;
  top: 0;
  left: -12px;
}
.header__logo {
  font-size: 30px;
}
